/* =========== import google font (Hind Siliguri) =========== */
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
/* ============= global css start ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
}
/* ============= global css end ============ */
/* =========== css variable ============ */
:root {
  --bg-color: #ececf5;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --sectionBoxShadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
/* ============= header css start ============= */
header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  box-shadow: var(--box-shadow);
}

.nav-bar .logo {
  padding-top: 5px;
}

.nav-bar .logo img {
  width: 115px;
}

.nav-bar .menu {
  margin-left: -60px;
}

.nav-bar .menu ul {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-bar .menu ul li {
  list-style: none;
}

.nav-bar .menu ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  padding: 5px 10px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-bar .menu ul li a.spacial-btn {
  border: 1px solid #8c7445;
  border-radius: 5px;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 10px;
}

.nav-bar .menu ul li a.spacial-btn:hover {
  background-color: #fff;
}

.nav-bar .menu ul li a.download-menu img {
  margin-left: 4px;
}

.nav-bar .menu ul li a:hover {
  background-color: var(--bg-color);
  border-radius: 5px;
}

.nav-bar .menu ul li a.search-box {
  background-color: #f2f2f2;
  border-radius: 50px;
  border: 1px solid #cdc6c6;
  height: 40px;
}

.nav-bar .menu ul li a.search-box:hover {
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.nav-bar .menu ul li a.search-box img {
  width: 25px;
}

.nav-bar .menu ul li a.search-box input {
  outline: 0;
  border: 0;
  background-color: transparent;
  margin-left: 5px;
  font-size: 15px;
  font-weight: 500;
  width: 120px;
}

.nav-bar .nav-bar-btn,
.all-course-btn,
.dashboard-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-bar-btn .notification-btn {
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.nav-bar-btn .notification-btn img {
  width: 16px;
}
.nav-bar-btn .language-btn {
  display: flex;
  align-items: center;
  border: 0;
  outline: 0;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.nav-bar-btn .language-btn:hover {
  background-color: var(--bg-color);
}
.nav-bar-btn .language-btn img {
  width: 20px;
  margin-right: 5px;
}
.nav-bar .all-course-btn,
.dashboard-btn {
  gap: 7px !important;
  background-color: #f2f2f2;
  border: 0;
  outline: 0;
  padding: 8px 25px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav-bar .all-course-btn:hover {
  background-color: var(--bg-color);
}

.nav-bar .dashboard-btn {
  background-color: black;
  color: #fff;
  transition: 0.3s ease;
}

.nav-bar .dashboard-btn:hover {
  opacity: 0.8;
}

/* ============= header css end ============= */
/* ============= hero section css star ============= */
.hero,
.our-course {
  background-color: #f2f2f2;
  padding: 50px 0px;
}

section .container {
  width: 100%;
  padding: 0px 25px;
}

section .container .hero-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  border: 1px solid #cccc;
  border-radius: 15px;
  padding: 30px;
  box-shadow: var(--sectionBoxShadow);
}

.hero-wrapper .hero-row-1-1 {
  flex-basis: 55%;
}

.hero-wrapper .hero-row-1-1 h1 {
  font-size: 45px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.hero-wrapper .hero-row-1-1 h1 span {
  color: rgb(240 68 56);
  margin-left: 15px;
}

.livenow {
  margin: 0 50px;
  display: inline-block;
}
.livenow > div {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  margin: -15px -35px;
  border: 3px solid red;
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &:nth-child(1) {
    background-color: red;
    background-color: red;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
  &:nth-child(2) {
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
  }
  &:nth-child(3) {
    -webkit-animation-delay: 0.42s;
    animation-delay: 0.42s;
  }
  &:nth-child(4) {
    -webkit-animation-delay: -0.42s;
    animation-delay: -0.42s;
  }
}

@-webkit-keyframes live {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.4);
  }
  40% {
    transform: scale(90);
    -webkit-transform: scale(1);
  }
}

.hero-wrapper .hero-row-1-1 h3 {
  font-size: 21px;
  margin-bottom: 20px;
}

.hero-wrapper .hero-row-1-1 button {
  background-color: #ffc300;
  color: black;
  border: 0;
  border-radius: 8px;
  padding: 13px 60px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 35px;
  transition: 0.2s ease-in;
}

.hero-wrapper .hero-row-1-1 button i {
  font-size: 19px;
  margin-left: 10px;
}

.hero-wrapper .hero-row-1-1 button:hover {
  background-color: #f2be15;
}

.hero-row-1-1 .brand-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.hero-row-1-1 .brand-logo img {
  width: 108px;
  object-fit: contain;
}

.hero-wrapper .hero-row-1-2 {
  flex-basis: 46%;
}

.hero-wrapper .hero-row-1-2 img {
  width: 100%;
  border-radius: 15px;
}
/* ============= hero section css end ============= */
/* ============= our course section css start ============= */
.our-course .container .course-wrapper {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: var(--sectionBoxShadow);
}
.course-wrapper .section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.course-wrapper .section-title h1 {
  font-size: 45px;
  margin-bottom: 15px;
}

.course-wrapper .section-title img {
  width: 45px;
  margin-top: -10px;
}

.course-wrapper .course-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
}

.course-menu .course-menu-box {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid #ccc;
}

.course-menu .course-menu-box:hover {
  background-color: var(--bg-color);
  border: 1px solid #ccc;
}

.course-menu .course-menu-box:first-of-type {
  color: #fff;
  background-color: rgb(8 35 52);
}

.course-menu .course-menu-box img {
  width: 35px;
  height: 35px;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  margin-right: 7px;
  box-shadow: var(--sectionBoxShadow);
}

.course-menu-box .course-menu-box-content h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: -3px;
}

.course-wrapper .course-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.course-box .course-card {
  border: 1px solid #eee;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.course-box .course-card:hover {
  border: 1px solid rgb(16 24 40);
}

.course-box .course-card img {
  width: 100%;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.course-card .time-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 3px;
  margin-left: 10px;
}

.course-card .time-line button {
  display: flex;
  align-items: center;
  border: 0;
  outline: 0;
  background-color: var(--bg-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.course-card .time-line button img {
  width: 17px;
  margin-right: 7px;
}

.course-card hr {
  border: 1px solid #eacdcd;
}

.course-card h1 {
  font-size: 22px;
  padding: 10px 15px;
  line-height: 30px;
  text-transform: capitalize;
}

.course-box .course-btn {
  background-color: var(--bg-color);
  padding: 15px;
}

.course-box .course-btn button,
.all-btn {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: #d9d9d9;
  height: 50px;
  border-radius: 5px;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.course-box .course-btn button i {
  margin-left: 10px;
  font-size: 17px;
}

.course-box .course-btn button:hover,
.all-btn:hover {
  background-color: #cacaca;
}

.course-wrapper .all-btn {
  width: 400px;
  height: 50px;
  display: block;
  margin: auto;
}
/* ============= our course section css end ============= */
/* ============= coming-live-seminer section css end ============= */
.upcoming-live-seminer {
  background-color: #f2f2f2;
}
.upcoming-live-seminer .container .live-seminer-wrapper {
  background-color: rgb(16 24 40);
  border-radius: 15px;
  padding: 30px;
}

.live-seminer-wrapper .live-seminer-title {
  display: flex;
  justify-content: space-between;
}

.live-seminer-title .live-seminer-content {
  text-align: center;
}

.live-seminer-title .live-seminer-content h1 {
  color: rgb(18 183 106);
  font-size: 45px;
  font-weight: 800;
}

.live-seminer-title .live-seminer-content p {
  color: #fff;
  font-size: 20px;
}

.live-seminer-title img.idea {
  margin-top: 70px;
}

.live-seminer-title img.setting {
  margin-top: -50px;
}

.live-seminer-wrapper .web-seminer-title {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.live-seminer-wrapper .web-seminer-title img {
  width: 55px;
}

.live-seminer-wrapper .web-seminer-title h2 {
  font-size: 30px;
  color: #fff;
  margin-left: 20px;
}

.live-seminer-wrapper .web-seminer-title span {
  width: 63%;
  height: 1px;
  background-color: #7d7272;
  margin-left: 25px;
}

.live-seminer-wrapper .live-seminer-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.live-seminer-box .live-seminer-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.live-seminer-box .live-seminer-card button:first-of-type {
  background-color: var(--bg-color);
  width: 100%;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0px;
}

.live-seminer-box .live-seminer-card img {
  width: 100%;
  border-radius: 10px;
}

.live-seminer-box .live-seminer-card h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 37px;
}

.live-seminer-box .live-seminer-card p {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.live-seminer-box .live-seminer-card p i {
  font-size: 30px;
  margin-right: 10px;
  color: #dbcf47;
}

.live-seminer-box .live-seminer-card p span {
  font-size: 19px;
  font-weight: 500;
  line-height: 20px;
  color: #dbcf47;
}

.live-seminer-box .live-seminer-card button:last-of-type {
  width: 100%;
  height: 45px;
  cursor: pointer;
  background-color: #fff47675;
  border: 1px solid #a7a269;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s;
}

.live-seminer-box .live-seminer-card button:last-of-type:hover {
  background-color: #dbcf47;
}

.live-seminer-wrapper .already-end-webseminer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.already-end-webseminer .already-end-webseminer-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.already-end-webseminer .already-end-webseminer-box img {
  width: 100%;
  border-radius: 10px;
}

.already-end-webseminer .already-end-webseminer-box p {
  font-size: 16px;
  color: #6a5757;
  margin: 10px 0px;
}

.already-end-webseminer .already-end-webseminer-box h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 20px;
}

.already-end-webseminer .already-end-webseminer-box button {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: black;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
}

.already-end-webseminer .already-end-webseminer-box button:hover {
  opacity: 0.86;
}

.live-seminer-wrapper .all-webseminer-btn {
  text-align: center;
  position: relative;
}

.live-seminer-wrapper .all-webseminer-btn button {
  background-color: #ffff;
  width: 250px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 30px;
  margin-top: 70px;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

.live-seminer-wrapper .all-webseminer-btn img {
  position: absolute;
  left: 20%;
  top: 70px;
}

.live-seminer-wrapper .all-webseminer-btn button:hover {
  background-color: var(--bg-color);
}
/* ============= coming-live-seminer section css end ============= */
/* ============= coming-live-seminer section css end ============= */
.career-goal {
  padding: 70px 0px;
  background-color: #f2f2f2;
}
.career-goal .container .career-goal-title {
  text-align: center;
}

.career-goal .container .career-goal-title h1 {
  font-size: 45px;
  font-weight: 700;
  color: rgb(16 24 40);
}

.career-goal .container .career-goal-title p {
  color: rgb(16 24 40);
  font-size: 19px;
  margin-top: -7px;
}

.career-goal .container .career-goal-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.career-goal-wrapper .career-goal-box {
  background-color: var(--bg-color);
  text-align: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.career-goal-wrapper .career-goal-box:hover {
  border: 1px solid rgb(16 24 40);
  background-color: #f2f2f2;
}

.career-goal-wrapper .career-goal-box img {
  background-color: #fff;
  width: 45px;
  height: 45px;
  padding: 7px;
  border-radius: 50%;
}

.career-goal-wrapper .career-goal-box h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.career-goal-wrapper .career-goal-box p {
  color: #5d4d4d;
  font-weight: 500;
}
/* ============= coming-live-seminer section css end ============= */
/* ============= getting our course section css start ============= */
.getrting-our-course {
  background-color: #f2f2f2;
  padding-bottom: 70px;
}

.getrting-our-course .container .getting-our-course-title {
  text-align: center;
  margin-bottom: 60px;
}

.getrting-our-course .container .getting-our-course-title h1 {
  font-size: 50px;
  font-weight: 700;
  color: rgb(16 24 40);
}

.getrting-our-course .container .getting-our-course-title p {
  font-size: 19px;
  color: rgb(16 24 40);
  margin-top: -8px;
  font-weight: 400;
}

.getrting-our-course .container .getting-our-course-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: var(--sectionBoxShadow);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

.getting-our-course-wrapper .getting-our-course-box {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 30px;
}

.getting-our-course-wrapper .getting-our-course-box:last-of-type {
  border-bottom: 0px;
}

.getting-our-course-wrapper .getting-our-course-box:nth-of-type(5) {
  border-bottom: 0px;
}

.getting-our-course-wrapper .getting-our-course-box:nth-of-type(4) {
  border-bottom: 0px;
}

.getting-our-course-wrapper .getting-our-course-box:nth-of-type(3) {
  border-right: 0px;
}

.getting-our-course-wrapper .getting-our-course-box:nth-of-type(6) {
  border-right: 0px;
}

.getting-our-course-wrapper .getting-our-course-box img {
  width: 65px;
}

.getting-our-course-wrapper .getting-our-course-box h2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}

.getting-our-course-wrapper .getting-our-course-box p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #534545;
}
/* ============= getting our course section css end ============= */
/* =============  coding knowladge section css start ============= */
.coding-knowladge {
  background: #f2f2f2;
}

.coding-knowladge .container .coding-knowladge-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 70px;
}

.coding-knowladge-wrapper .coding-knowladge-row-1-1,
.coding-knowladge-wrapper .coding-knowladge-row-1-2 {
  background: #ffff;
  box-shadow: var(--sectionBoxShadow);
  border-radius: 10px;
  padding: 10px;
  flex-basis: 50%;
}

.coding-knowladge-wrapper .coding-knowladge-row-1-1 h1,
.coding-knowladge-wrapper .coding-knowladge-row-1-2 h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 20px;
  color: rgb(16 24 40);
}

.coding-knowladge-wrapper .coding-knowladge-row-1-1 button,
.coding-knowladge-wrapper .coding-knowladge-row-1-2 button {
  background-color: rgb(16 24 40);
  border: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 215px;
  height: 45px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 30px;
}

.coding-knowladge-wrapper .coding-knowladge-row-1-1 i,
.coding-knowladge-wrapper .coding-knowladge-row-1-2 i {
  margin-left: 10px;
}

.coding-knowladge-wrapper .coding-knowladge-row-1-1 img,
.coding-knowladge-wrapper .coding-knowladge-row-1-2 img {
  width: 100%;
  height: 250px;
  background-size: cover;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: -10px;
}
/* =============coding knowladge section  css end ============= */
/* =============ostad business  css end ============= */
.ostad-business {
  padding: 70px 0px;
}

.ostad-business .container .ostad-business-wrapper {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.ostad-business-wrapper .ostad-business-row-1-1,
.ostad-business-wrapper .ostad-business-row-1-2 {
  flex-basis: 50%;
}

.ostad-business-wrapper .ostad-business-row-1-1 h1 {
  font-size: 33px;
  font-weight: 700;
  color: rgb(16 24 40);
}

.ostad-business-wrapper .ostad-business-row-1-1 p {
  font-size: 17px;
  color: #201d1d;
  margin-bottom: 20px;
}

.ostad-business-wrapper .ostad-business-row-1-1 button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc300;
  border: 0;
  width: 240px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}

.ostad-business-wrapper .ostad-business-row-1-1 button:hover {
  opacity: 0.86;
}

.ostad-business-row-1-1 .ostad-brand img {
  width: 120px;
}

.ostad-business-wrapper .ostad-business-row-1-1 h2 {
  font-size: 25px;
  font-weight: 700;
}

.ostad-business-row-1-1 .ostad-brand {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
}

.ostad-business-wrapper .ostad-business-row-1-2 img {
  width: 100%;
}

.ostad-business-row-1-1 .ostad-brand img:last-of-type {
  width: 50px;
}
/* =============ostad business  section  css end ============= */
/* =============ostad counter  section  css end ============= */
.ostad-counter {
  background-color: #f2f2f2;
  padding: 70px 0px;
}

.ostad-counter .container .ostad-counter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.ostad-counter-wrapper .ostad-counter-box {
  border-radius: 10px;
  padding: 25px;
}

.ostad-counter-wrapper .ostad-counter-box h1 {
  font-size: 35px;
  color: #372c2c;
  margin-bottom: -7px;
}

.ostad-counter-wrapper .ostad-counter-box p {
  font-size: 17px;
  color: #372c2c;
}

.ostad-counter-wrapper .ostad-counter-box:first-of-type {
  background-color: rgb(209 250 223);
}

.ostad-counter-wrapper .ostad-counter-box:nth-child(2) {
  background-color: rgb(218 228 255);
}

.ostad-counter-wrapper .ostad-counter-box:nth-child(3) {
  background-color: rgb(255 232 219);
}

.ostad-counter-wrapper .ostad-counter-box:nth-child(4) {
  background-color: rgb(255 242 204);
}
/* ============= ostad counter  section  css end ============= */
/* =============  our graduate  section  css start ============= */
.our-graduate {
  background-color: #f2f2f2;
  padding-bottom: 55px;
}

.our-graduate .container .our-graduate-title {
  text-align: center;
}

.our-graduate .container .our-graduate-title h1 {
  font-size: 45px;
  font-weight: 700;
  color: rgb(16 24 40);
}

.our-graduate .container .our-graduate-title p {
  color: rgb(16 24 40);
  font-size: 19px;
  margin-top: -5px;
  margin-bottom: 25px;
}

.our-graduate .our-graduate-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "one one one two two two two two two three three three "
    "four four four five five five six six six seven seven seven ";
}

.our-graduate-wrapper .our-graduate-box {
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.our-graduate-wrapper .our-graduate-box p {
  color: rgb(102 112 133);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.our-graduate-wrapper .our-graduate-box h3 {
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}

.our-graduate-box .our-graduate-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-graduate-box .our-graduate-profile span {
  background-color: rgb(16 24 40);
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px 0px;
}

.our-graduate-wrapper .our-graduate-box:nth-child(1) {
  grid-area: one;
  height: 85%;
}

.our-graduate-wrapper .our-graduate-box:nth-child(2) {
  grid-area: two;
  height: 70%;
}

.our-graduate-wrapper .our-graduate-box:nth-child(3) {
  grid-area: three;
  height: 70%;
}

.our-graduate-wrapper .our-graduate-box:nth-child(4) {
  grid-area: four;
  height: 88%;
  margin-top: -15px;
}

.our-graduate-wrapper .our-graduate-box:nth-child(5) {
  grid-area: five;
  margin-top: -55px;
  height: 115%;
}

.our-graduate-wrapper .our-graduate-box:nth-child(6) {
  grid-area: six;
  margin-top: -55px;
  height: 83%;
}

.our-graduate-wrapper .our-graduate-box:nth-child(7) {
  grid-area: seven;
  margin-top: -58px;
  height: 70%;
}

/* =============  our graduate  section  css end ============= */
/* =============  download app  section  css start ============= */
.download-app {
  background: url(./images/bg-app-min.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0px;
}

.download-app .container .download-app-wrapper {
  display: flex;
  align-items: center;
  background-color: #ffff;
  border-radius: 20px;
  gap: 50px;
}

.download-app-wrapper .download-app-row-1-2 h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: -3px;
}

.download-app-wrapper .download-app-row-1-2 p {
  font-size: 18px;
  font-weight: 400;
  color: #655757cc;
  margin-bottom: 22px;
}

.download-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.download-app-wrapper .download-app-row-1-1 img {
  margin-bottom: -8px;
}

.download-app-wrapper .download-app-row-1-2 button {
  background-color: var(--bg-color);
  border: 0;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.download-app-wrapper .download-app-row-1-2 button:hover {
  background-color: #d1d1e4;
}

.download-app-wrapper .download-app-row-1-2 img {
  margin-right: 10px;
}
/* =============  download app  section  css start ============= */
/* =============  free courses  section  css start ============= */
.free-courses {
  background-color: #f2f2f2;
  padding: 70px 0;
}

.free-courses .free-course-title {
  display: flex;
  align-items: center;
}

.free-courses .free-course-title h1 {
  font-size: 45px;
  font-weight: 700;
  color: rgb(16 24 40);
  margin-right: 20px;
}

.free-courses .free-course-title img {
  margin-right: 20px;
}
.free-courses .free-course-title span {
  width: 66%;
  height: 1px;
  background-color: rgb(216 217 220);
  display: block;
  margin-right: 25px;
  cursor: pointer;
}

.free-courses .free-course-title button {
  background-color: rgb(16 24 40);
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  border: 0;
}

.free-course-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.free-course-wrapper .free-course-box {
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.free-course-wrapper .free-course-box:hover {
  border: 1px solid rgb(16 24 40);
}

.free-course-wrapper .free-course-box img {
  width: 100%;
  border-radius: 10px;
}

.free-course-wrapper .free-course-box button {
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  border: 0;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0px;
}

.free-course-wrapper .free-course-box button img {
  width: 20px;
  margin-right: 7px;
}

.free-course-wrapper .free-course-box h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: -8px;
}

.free-course-wrapper .free-course-box .free-course-button {
  background-color: var(--bg-color);
  border-radius: 5px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-course-wrapper .free-course-box .free-course-button button {
  background-color: #dadada;
  margin: 21px 13px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
/* =============  free courses  section  css end ============= */
/* ============= footer  section  css start ============= */
.footer {
  background-color: rgb(255 251 238);
  padding: 70px 0px;
}
.container {
  padding: 0px 25px;
}

.footer-row-1-1 img {
  width: 160px;
}

.footer-row-1-1 p {
  font-size: 17px;
  margin-bottom: 10px;
}

.footer-row-1-1 b {
  font-size: 20px;

  margin-bottom: 15px;

  display: block;
}

.footer-row-1-1 .footer-download-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 12px;
}

.footer-row-1-1 .footer-download-btn button {
  background-color: rgb(16 24 40);
  width: 97px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.footer-row-1-1 .footer-download-btn button img {
  width: 30px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.footer-social-link i {
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.footer-row-1-2 h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-row-1-2 a {
  display: block;
  margin-bottom: 20px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.footer-row-1-2 a:hover {
  text-decoration: underline;
  color: #a7a269;
}

.footer-row-1-3 h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-row-1-3 a {
  display: block;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #000;
  transition: 0.3s;
}

.footer-row-1-3 a:hover {
  text-decoration: underline;
  color: #a7a269;
}

.footer-row-1-3 a i {
  font-size: 18px;
  margin-right: 10px;
}

.sponser img {
  width: 100%;
  margin-top: 20px;
}
/* =============  ooter  section  css end ============= */
